<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/general.module.css">
    <title>Home</title>
</head>
<body>

    <header class="cabecalho">
        
        <nav>
            <ul>
                <li>Nome do user</li>
                <li>userIMage</li>
            </ul>

            <ul class="lista">
                <li>Criar Projectos</li>
                <li>relatório</li>
                
            </ul>
        </nav>
        
    </header>

    <section class="corpo">
        <h1>corpo-ceo</h1>
    </section>
    
    <footer class="rodape">
        <p>cabecalho</p>
    </footer>
    
</body>
</html>