<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APIGA - Gestão Interna</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/index.module.css">

</head>
<body>

    <div class="container">

        <div class="inner">
            <h1>APIGA - Gestão Interna</h1>

            <div class="divErro"></div>

            <form id="logar">

                <div class="input">
                    <label for="email">Email</label>
                    <input type="text" name="email" class="email">
                </div>
                
                <div class="input">
                    <label for="senha">Senha</label>
                    <input type="text" name="senha" class="senha">
                </div>
                
                <input type="submit" value="Login" class="btnLogar">

            </form>
        </div>

    </div>

    <script src="/SubmitLogin.js"></script>

</body>
</html>