<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/general.module.css">
    <title>Home</title>
    <script src="/getYear.js" defer></script>
    <script src="/Menu.js" defer></script>
</head>
<body>

    <header class="cabecalho">
        
        <nav>
            <ul class="lista user">
                <li class="userimage"><a href="#"><img src="/userimage.png" alt="user image"></a></li>
                <li class="usename"><a href="#">Nome do user</a></li>
            </ul>

            <ul class="lista menu">
                <li><a href="/manager">Home</a></li>
                <li><a href="#">Serviços Cópias</a></li>
                <li><a href="#">Digitalização</a></li>
                <li><a href="#">Design</a></li>
            </ul>
        </nav>
        
    </header>

    <section class="corpo">
        <div class="container">

            <div class="atividades"></div>
            
            <div class="impressora">
                <div class="sevicos"></div>
                <div class="digitalização"></div>
            </div>

            <div class="design"></div>

        </div>
    </section>
    
    <footer class="rodape">
        <p>APIGA Todos os direitos reservados &copy; - <span class="year"></span></p>
        <p>Feito por: <span>&hearts;</span> AJA T.F.C</p>
    </footer>

    
</body>
</html>